.border {
    border: 5px solid transparent;
    height: 5px;
    width: 20%;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: transparent
  }
 .kit
 {
   border:2px solid black;
   display:flex;
   direction: row;
 }
  .archivebtn
  {
    height: 300px;
  width: 300px;
  border-radius: 50%;
  // border: 1px solid red;
  }
  .example-button-row button,
.example-button-row a {
  margin-right: px;
}
.border {
    border: 5px solid transparent;
    height: 5px;
    width: 20%;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: transparent
  }
  button{
       margin: 3px;
      border:none;
      background: transparent;
      opacity:0.6;

      

      
      
  }
.Color
{
  display: flex;
  flex-direction: row;
    width:30px;
    height:30px ;
    border-radius: 60%;
    
    
}
  .matMenu{
    height: 20px;
    margin-bottom: 90px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .button:hover{
    visibility: visible;
  }

.icon:hover{
    visibility: visible;
    opacity: 0.5;
    color: black;
}
.container
{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
 .btn3
 {
  border: 2px solid blue;
  margin-left: 70%;
 }   
    
}
.iconbutton4
{
  // border: 2px solid violet; 
  width:100%;
  display:flex;
  flex-direction: row;
  padding-top:20%;
  margin-bottom: -5%;

}
// .iconbutton5
// {
//   border: 2px solid red;
//   width:15%;
//   margin-left: 68%;
  
// margin-bottom: 10%;
  
// }
.card:hover{
  
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
 
  

.card{
  display: flex;
    flex-direction: row;
    margin-top:20%

}

.trashIcons{
  border: 5px solid transparent;
    height: 20px;
    width: 50%;
    top: 20px;
    display: flex;
  //   align-items: center;
    background-color: transparent;
    margin-left: 20%;
    justify-content: space-between;
    opacity: 0.54;
}