.pin
{
    float: right;
    
}
.title
{
    font-size: large;
    border: none;
    padding-bottom: 20px;
}
.subtitle
{
    font-size: medium;
    border:none;
}
.close
{
    border:none;
    background-color: transparent;
    float: right;
}
// .box
// {
//     height: 50px;
//     width: 300px;
// }