.pinbutton{
    border: none;  
    background-color: white;
    cursor: pointer;
  
  }
  .container
  {
    background-color: white;
    border: 1px solid gainsboro;
  }
  .pad
  {
    margin: 5%;
  }
  
  
  .pin{
    margin-left: 230px;
    margin-top: 3%;
    opacity: 0.54;
    width: 25px;
    height: 25px;
    border:none;
    background: transparent;
  
  }
  .getAllNotes{
    width: 100%;
    height: 110%;
    background-color:white;
    border: 0.5px solid darkblue;
    border-radius: 5px;
    margin-left: 2px;
  }
  .displayNotes{
    background-color:white;
    border: 0.5px solid darkblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    
  }
  .heading{
    opacity: 0.8;
  }
  .visible
  {
    visibility: visible;
  }
//   .mat-card
//   {
//  width:250px;
//  height: auto;

//   }

// .pindiv
// {
//   @media (max-width: 800px) {
//     .flex-item-right, .flex-item-left {
//       flex: 100%;
//     }
//   }
