<div  class="cs-container">
 <h1>
  <span class="c1">F</span>
  <span class="c2">u</span>
  <span class="c3">n</span>
  <span class="c4">d</span>
  <span class="c5">o</span>
  <span class="c6">o</span>
 </h1>

 <h2>Create your Fundoo Account</h2>
 <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" style="border:none">

<div class="tl-container ">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="first name" formControlName ="firstName" >
</mat-form-field>

    
  
<mat-form-field appearance="outline">
  <mat-label>Last Name</mat-label>
  <input matInput placeholder= "last name" formControlName ="lastName">
</mat-form-field>
</div>

    
  <div class = "em">
    <mat-form-field fxFlex="62" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
  </div>
  <div class="txt">
    <p>You can use letter, numbers & periods</p>
  </div>
  
  <div class = "tx">
    Use my current email address instead
  </div>
 <div class ="ps">
    <mat-form-field   appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" formControlName ="password">
       
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="confirm password" formControlName="confirmPassword">
      </mat-form-field>
    </div>
    
    <div class = "txt">
      <p>Use 8 or more characters with a mix of letters, numbers & symbols.</p>
    </div>

    <div class="icn">
      <img src="https://cdn3.iconfinder.com/data/icons/show-and-hide-password/100/show_hide_password-08-512.png" id="eye">
    <p class="lo">Show password</p>
    </div>
  

    <div class="tca"><button class="btnps" routerLink="/login">Sign in instead</button></div>

    <div class = "bsd">
      <button mat-raised-button >Next</button>
    </div>

    <div class="icon" fxHide.xs>
      <img class= "iconsize"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWhCs4f2YW-VqYSm1zPkcdznlX95UOuiO8tw&usqp=CAU" >
      <p class="b">One account. All of Google<br> working for you.</p>
    </div>
    <div routerLink="/register">
    
    </div>
  </form>
</div>