.cs-container
{
  text-align : center;
  padding: 36px;
  width: auto;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 3%;
  border: 1px solid lightgrey;
   
}
.tl-container 
{
  display:flex;
  flex-direction:row;
  gap:10px;
  text-align: center;
  width: 50%;
  width: auto;

}
.ps{
  display:flex;
  flex-direction:row;
  text-align: center;
  gap: 10px;
  width: 50%;
  width: auto;


}
div.txt
{
  
  margin-top: 5%;
  text-align: left;
  font-size: 13px;
}
div.tx
{
  color: #1a73e8;
  margin-top: 1%;
  margin-bottom: 5%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}
#eye
{
  width: 27px;
  float: left;
}
p.b {
  text-align-last: center;
}
.icon
{
  
  float: right;
  margin-top: -70%;
  margin-right:-5% ;
  
}
.iconsize
{
  height: 300px;
  width: 300px;
}

.lo
{
  margin-right:500px ;
  // text-align: left;
  // margin-right: 3%;
}
.em
{
  width: auto;
  display:flex;
  flex-direction:row;
  
  
}


    
    

  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  // .tca{
  //   float: left;
  //   padding-top :40px;
  //   color: #1a73e8;
  //   cursor: pointer;
  //   margin-bottom: -30%;
  .tca
  {
  color: #1a73e8;
  float:left;
  cursor: pointer;
  font-weight: 1300;
  font-size: xx-large;
  margin-left: -4%;
  margin-top: 5%;
  margin-bottom: 35%;
  
    
  
   
    

}

h2{
    text-align:left ;
    font-size: x-large;
}
h1{
    text-align: left;
    font-size: xxx-large;
    padding: 15px;
    

}
button {
    border: none;
      outline: none;
      color: #fff;
      background-color: #1a73e8;
      padding: 0.625rem 1.25rem;
      cursor: pointer;
      border-radius: 0.312rem;
      font-size: 1rem;
      
    }
    
    
    div.txt
{
  margin-top: -2%;
  text-align: left;
}
    .c1
 {
   color: blue;
 }
.c2
{
  color: red;
}
.c3
{
  color: yellow;
}
.c4
{
  color: green;
}
.c5
{
  color: blue;
}
.c6
{
  color: yellow;
}
// .btnps
// {
//   background-color: transparent;
//   color: #1a73e8;
//   margin-bottom: 0%;
//   font-weight: 700;
  
  
// }
.btnps
{
  background-color: transparent;
  color: #1a73e8;
  margin-bottom: 5%;
  font-weight: 600;
  
  
}
.bsd
 {

   margin-top: 8%;
   margin-left: 15%;
 }
 