<div class="cs-container">
  <h1>
    <span class="c1">F</span>
    <span class="c2">u</span>
    <span class="c3">n</span>
    <span class="c4">d</span>
    <span class="c5">o</span>
    <span class="c6">o</span>
  </h1>



  <h2>Create a strong password</h2>
  <h3>Create a new, strong password that you don’t use for other websites</h3>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()"  style="border:none">
   
  <div class="tl-container">
    <mat-form-field appearance="outline">
      <mat-label>Create passowrd</mat-label>
      <input matInput placeholder="password" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input matInput placeholder="confirm passowrd" formControlName="confirmPassword">
    </mat-form-field>
  </div>

  <div class="icn">
    <img src="https://cdn3.iconfinder.com/data/icons/show-and-hide-password/100/show_hide_password-08-512.png" id="eye">
    <p class="lo">Show password</p>
  </div>
  <!-- <div><mat-form-field>
        <input hidden=true matInput> // this gets rid of the error, while the form still uses the input received in the
        mat-checkbox
        <mat-checkbox matInput formControlName="active">Active</mat-checkbox>
      </mat-form-field></div> -->
  <div class="tca"><button class="btnps">Skip</button></div>
  <!-- <div routerLink="/resetpassword">
  </div> -->
  <div class="bsd">
    <button mat-raised-button>Save Passowrd</button>
  </div>

</form>

</div>