.fundoo-icon
{
  border:none;
  padding-bottom: 2px;
}
.lk{
  padding-top: 2%;
}
.mat-card{
  height: 5px;
  width: 250%;
  padding-bottom: 10%;
  
 
  
}

.btn-txt
{
  font-size: 25px;
  font-weight: 400;
  margin-left: 8px;
  padding-right: 10%;
  border-radius:8px ;
}
.search_bar
{
padding-left: 10%;
outline: none;

// padding-top: 5px;
// margin-top: 1em;
padding-bottom: 5px;
}

.refresh
{
  border: none;
}
.prof_list
{
  padding-left: 1.5%;
}
.app_list
{
  padding-left: 5%;
}
.refresh_tag
{
  padding-left: 40%;
}
.refrsh
{
  padding-right: 10%;
}
.app
{
  padding-left: 25%;
}
.setting
{
  padding-right:23%;
}

.refresh_pos
{
  padding-left: 5%;
}
.btn_list
{
  padding-left: 1%;
  border:none;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.nav-list{
  width: 400;
}
mat-sidenav{
  background-color: white;
  width: 10em;
}
.grid
{
  padding-right: 8%;
}
.menu-container {
  border-top: 70px;
  margin-top: 2px;
  margin-left: 20px;
  text-align: center;

}
mat-sidenav-content {
  position: relative;
  display: block;
  height: 100%;
  overflow: auto;
  border: 2px solid transparent;
}
#sidenav-button:focus {
  background-color: rgba(255, 196, 0, 0.2);
  margin-top: 3px;
  border-top-right-radius: 30vh;
  border-bottom-right-radius: 30vh;
  width: 240px;
}
#sidenav-button {
  border-top-right-radius: 30vh;
  border-bottom-right-radius: 30vh;
  width: 240px;
  height: 50px;
  text-align: center;
  border: transparent;

}
mat-nav-list {
  margin-left: -22px;
}
.a1
{
  border: none;
  background-color: transparent;
}
#sidenav-button {
  display: inline-flex;
  // justify-content: space-between;
  border: transparent;
  background-color: white;

}
#sidenav-icon {
  margin-right: 40px;
}
.refresh{
  margin-left: -10em;
  opacity: 0.5;
  border: none;
}

.cs
{
  
  position: absolute;
}
// .Search{
//     margin-left: 10em;
//     margin-top: 2em;
//     margin-bottom: 1em;
//     text-align: center;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     font-size: 15px;
//     border-right-width: 30em;
// }
// .fundoo{
//     font-size: x-large;
//     color: rgb(92, 84, 84);
// }
// // .fundoo-icon{
// //     height: 10%;
// //     padding-top: 6px;
// //     padding-left: 2px;
// //     padding-right: 5px;
// //     padding-bottom: 60px;
// //     margin-top: 1em;
// // }

// .example-container {
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//   }
  
//   .example-is-mobile .example-toolbar {
//     position: fixed;
//     z-index: 2;
//   }
  
//   h1.example-app-name {
//     margin-left: 8px;
//   }
  
//   .example-sidenav-container {
//     flex: 1;
//   }
  
//   .example-is-mobile .example-sidenav-container {
//     flex: 1 0 auto;
//   }
//   .refresh{
//     margin-left: 10em;
//     opacity: 0.5;
//     border: 5px solid transparent;

//   }
 